<footer id="footer" class="footer text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 mb-5 mb-lg-0" data-aos="fade-right">
        <div class="footer__item">
          <h3 class="text-uppercase mb-4 font-weight-bold">location</h3>
          <div>
            <p class="lead mb-0">
              2215 John Daniel Drive<br />
              Clark, MO 65243
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-5 mb-lg-0">
        <div class="footer__item">
          <h3 class="text-uppercase mb-4 font-weight-bold" data-aos="zoom-in">around the web</h3>
          <div class="footer__item__icon">
            <a class="btn btn-outline-light social-icon mx-1" href="#" data-aos="fade-down"><i class="fab fa-facebook-f"></i></a>
            <a class="btn btn-outline-light social-icon mx-1" href="#" data-aos="fade-up"><i class="fab fa-twitter"></i></a>
            <a class="btn btn-outline-light social-icon mx-1" href="#" data-aos="fade-down"><i class="fab fa-linkedin-in"></i></a>
            <a class="btn btn-outline-light social-icon mx-1" href="#" data-aos="fade-up"><i class="fab fa-dribbble"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4" data-aos="fade-left">
        <div class="footer__item">
          <h3 class="text-uppercase mb-4 font-weight-bold">about freelancer</h3>
          <div><p class="lead mb-0">Freelance is a free to use, MIT licensed Bootstrap theme created by .</p></div>
        </div>
      </div>
    </div>
  </div>
</footer>
