<nav class="navbar navbar-expand-lg fixed-top">
  <div class="container">
    <a class="navbar-brand" routerLink="">start angular</a>
    <button class="navbar-toggler navbar__toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <div class="nav__btn__content d-flex justify-content-center align-items-center">
        <p class="m-0 p-0 mr-1 text-uppercase">menu</p>
        <div class="navbar__toggler__icon">
          <i class="fas fa-bars navbar__toggler__icon__fa"></i>
        </div>
      </div>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="portfolio">portfolio</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="about">about</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="contact">contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
