<section id="contact" class="contact">
  <div class="container">
    <div class="sec__hd text-center mb-4">
      <h2 class="text-uppercase font-weight-bold" data-aos="fade-up-right">contact me</h2>
      <div class="divider d-flex justify-content-center align-items-center mt-3 mb-5" data-aos="fade-up-left">
        <span class="left-line mx-3"></span>
        <i class="fas fa-star"></i>
        <span class="right-line mx-3"></span>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <div class="contact__form" data-aos="fade-right">
          <form>
            <div class="form-group mb-4" data-aos="fade-right">
              <input type="text" class="form-control form__name" id="form__name" placeholder="Name" />
            </div>
            <div class="form-group mb-4" data-aos="fade-right">
              <input type="email" class="form-control form__email" id="form__email" placeholder="Email Address" />
            </div>
            <div class="form-group mb-4" data-aos="fade-right">
              <input type="email" class="form-control form__phone" id="form__phone" placeholder="Phone Number" />
            </div>
            <div class="form-group mb-4" data-aos="fade-right">
              <textarea class="form-control form__message" id="form__message" placeholder="Message"></textarea>
            </div>
            <button type="submit" class="btn btn-success btn-xl form__btn">Send</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
