<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="sec__hd text-center mb-4">
      <h2 class="text-uppercase font-weight-bold" data-aos="flip-left" data-aos="zoom-in-down">portfolio</h2>
      <div class="divider d-flex justify-content-center align-items-center mt-3 mb-5" data-aos="zoom-in-up">
        <span class="left-line mx-3"></span>
        <i class="fas fa-star"></i>
        <span class="right-line mx-3"></span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-4" data-aos="flip-left">
        <div class="portfolio__item mb-5 position-relative">
          <div class="portfolio__item__overlay position-absolute d-flex justify-content-center align-items-center">
            <a href="#"><i class="fas fa-external-link-alt"></i></a>
          </div>
          <img src="../../assets/img/portfolio/cabin.png" class="w-100" alt="" />
        </div>
      </div>
      <div class="col-md-6 col-lg-4" data-aos="flip-left">
        <div class="portfolio__item mb-5 position-relative">
          <div class="portfolio__item__overlay position-absolute d-flex justify-content-center align-items-center">
            <a href="#"><i class="fas fa-external-link-alt"></i></a>
          </div>
          <img src="../../assets/img/portfolio/cake.png" class="w-100" alt="" />
        </div>
      </div>
      <div class="col-md-6 col-lg-4" data-aos="flip-left">
        <div class="portfolio__item mb-5 position-relative">
          <div class="portfolio__item__overlay position-absolute d-flex justify-content-center align-items-center">
            <a href="#"><i class="fas fa-external-link-alt"></i></a>
          </div>
          <img src="../../assets/img/portfolio/circus.png" class="w-100" alt="" />
        </div>
      </div>
      <div class="col-md-6 col-lg-4" data-aos="flip-left">
        <div class="portfolio__item mb-5 position-relative">
          <div class="portfolio__item__overlay position-absolute d-flex justify-content-center align-items-center">
            <a href="#"><i class="fas fa-external-link-alt"></i></a>
          </div>
          <img src="../../assets/img/portfolio/game.png" class="w-100" alt="" />
        </div>
      </div>
      <div class="col-md-6 col-lg-4" data-aos="flip-left">
        <div class="portfolio__item mb-5 position-relative">
          <div class="portfolio__item__overlay position-absolute d-flex justify-content-center align-items-center">
            <a href="#"><i class="fas fa-external-link-alt"></i></a>
          </div>
          <img src="../../assets/img/portfolio/safe.png" class="w-100" alt="" />
        </div>
      </div>
      <div class="col-md-6 col-lg-4" data-aos="flip-left">
        <div class="portfolio__item mb-5 position-relative">
          <div class="portfolio__item__overlay position-absolute d-flex justify-content-center align-items-center">
            <a href="#"><i class="fas fa-external-link-alt"></i></a>
          </div>
          <img src="../../assets/img/portfolio/submarine.png" class="w-100" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
