<div id="home" class="home">
  <div class="container">
    <div class="row justify-content-center align-items-center text-center vh-100">
      <div class="col">
        <div class="home__content">
          <img src="../../assets/img/avataaars.svg" class="home__content__avatar mb-5" alt="hero image" data-aos="fade-up" />
          <h1 class="home__content__title" data-aos="zoom-in">Start Angular</h1>
          <div class="divider d-flex justify-content-center align-items-center my-4" data-aos="zoom-in">
            <span class="left-line mx-3"></span>
            <i class="fas fa-star"></i>
            <span class="right-line mx-3"></span>
          </div>
          <p class="home__content__p mb-0" data-aos="fade-right">Graphic Artist - Web Designer - Illustrator</p>
        </div>
      </div>
    </div>
  </div>
</div>
